<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Kaustubh Pandey, a student at SRMU, showcasing his portfolio and achievements.">

  <link rel="shortcut icon" href="/images/icons8-iron-man-100.png" type="image/x-icon">
  <title> Er. Kaustubh Pandey</title>


  <!-- link for fontawesome  -->

  <script src="https://kit.fontawesome.com/3721bf203e.js" crossorigin="anonymous"></script>

  <!-- link for bootstrap -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/style2.css">
  <link rel="stylesheet" href="/exp.css">
  <link rel="stylesheet" href="/mediaquerrri.css">

</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <!-- Left aligned element -->
        <a class="nav-link href=" #"><span class="logoo"><</span><p class="header">Kaustubh</p><span class="logoo">/</span>
              <p class="header">Pandey</p><span class="logoo">></span> </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <img src="/images/icons8-homer-simpson-200.png" alt="">
          <!-- <span class="navbar-toggler-icon"></span> -->
        </button>

        <!-- Center aligned elements -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#about">About-Me</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#technical hero">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#exp">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#education">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#conme">Contact Me</a>
            </li>

          </ul>
          <div class="d-flex">
            <a href="https://www.linkedin.com/in/kaustubh-pandey-266205231/" target="_blank"><button class="neumorphism-button" >LinkedIn Profile</button></a>
          </div>
        </div>

        <!-- Right aligned element -->

      </div>
    </nav>

  </header>


  <section id="about" class="hero-section hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 order-2 order-md-1">
          <h1 class="name moving-gradient-text">Hi, I am</h1>
          <h1 class="name moving-gradient-text">Kaustubh Pandey</h1>
          <h2>I am a <span class="dispinb dynamic-text typewriter-" id="typewriter-text"></span></h2>

          <p class="description">I am a motivated and versatile individual, always eager to take on new challenges. With
            a passion for learning I am dedicated to delivering high-quality results. With a positive attitude and a
            growth mindset, I am ready to make a meaningful contribution and achieve great things.</p>

          <div id="icon">
            <div class="logo"> <a href="https://leetcode.com/u/Kaustubh_28/"><img src="./images/icons/leetcode.png"
                  alt="leetcode" class="img"></a></div>
            <div class="logo"> <a href="https://www.geeksforgeeks.org/user/kaustubhpandey44/"><img
                  src="./images/icons/gfgf.png" alt="geekforgeek" class="img"></a></div>
            <div class="logo"> <a href="https://www.linkedin.com/in/kaustubh-pandey-266205231/"><img
                  src="./images/icons/lindin.png" alt="linkedin" class="img"></a></div>
            <div class="logo"> <a href="https://github.com/Kaustubh-2003"><img src="./images/icons/github.png"
                  alt="github" class="img"></a></div>
          </div>
          <button id="downloadBtn">Download Resume</button>
        </div>
        <!-- <button class="btn neumorphism-button" id="downloadBtn">Check Resume</button> -->

        <div class="col-md-6 order-1 order-md-2 text-center">
          <img src="/images/Proffessional_KP.jpg" alt="Rishav Chanda" class="img-fluid rounded-circle profile-img">
        </div>
      </div>



    </div>
    </div>
  </section>


  <section id="technical hero">
    <div class="container sec2">
      <div class="tech1">
        <h2 class="tech1h2">Technical Proficiency</h2>
        <div class="technica_buttons">
          <div id="butt1" class="techbut">Frontend</div>
          <div id="butt2" class="techbut">Backend</div>
          <div id="butt3" class="techbut">Database</div>
          <div id="butt4" class="techbut">Language</div>
          <div id="butt5" class="techbut">IBM Tools</div>
          <div id="butt6" class="techbut">Soft Skills</div>
        </div>
        <div id="1" class="technica_specs">
          <div id="Frontend" class="techhead">
            <h2>Frontend</h2>
          </div>
          <div class="specs">
            <p>HTML</p>
            <div class="skillbar">
              <div class="skills html"></div>
            </div>

            <p>CSS</p>
            <div class="skillbar">
              <div class="skills css"></div>
            </div>

            <p>JavaScript</p>
            <div class="skillbar">
              <div class="skills js"></div>
            </div>

            <p>React</p>
            <div class="skillbar">
              <div class="skills Ract"></div>
            </div>
          </div>
        </div>

        <!-- second skill table  -->
        <div id="2" class="technica_specs">
          <div id="backend" class="techhead">
            <h2>Backend</h2>
          </div>
          <div class="specs">
            <p>Node</p>
            <div class="skillbar">
              <div class="skills Node"></div>
            </div>

            <p>Express.Js</p>
            <div class="skillbar">
              <div class="skills exp"></div>
            </div>

            <p>EJS</p>
            <div class="skillbar">
              <div class="skills ejs"></div>
            </div>

            <p>API</p>
            <div class="skillbar">
              <div class="skills api"></div>
            </div>
          </div>
        </div>

        <!-- third skill table  -->


        <div id="3" class="technica_specs">
          <div id="database" class="techhead">
            <h2>DataBase</h2>
          </div>
          <div class="specs">
            <p>MySql</p>
            <div class="skillbar">
              <div class="skills mysql"></div>
            </div>

            <p>MongoDB</p>
            <div class="skillbar">
              <div class="skills mongo"></div>
            </div>

            <p>PostgreSql</p>
            <div class="skillbar">
              <div class="skills Cloudant"></div>
            </div>

            <p>Db2</p>
            <div class="skillbar">
              <div class="skills db2"></div>
            </div>
          </div>
        </div>

        <!-- fourth skill table  -->

        <div id="4" class="technica_specs">
          <div id="pl" class="techhead">
            <h2>Programing Languages</h2>
          </div>
          <div class="specs">
            <p>C++</p>
            <div class="skillbar">
              <div class="skills cpp"></div>
            </div>

            <p>Python</p>
            <div class="skillbar">
              <div class="skills py"></div>
            </div>

            <p>Java</p>
            <div class="skillbar">
              <div class="skills java"></div>
            </div>

            <p>JavaScript</p>
            <div class="skillbar">
              <div class="skills js"></div>
            </div>
          </div>
        </div>

        <!-- fifth skill table  -->

        <div id="5" class="technica_specs">
          <div class="techhead">
            <h2>IBM-Tools</h2>
          </div>
          <div class="specs">
            <p>Watson</p>
            <div class="skillbar">
              <div class="skills Watson"></div>
            </div>

            <p>SPSS MODULER</p>
            <div class="skillbar">
              <div class="skills SPSS "></div>
            </div>

            <p>Hadoop</p>
            <div class="skillbar">
              <div class="skills hdp"></div>
            </div>

            <p>Big Data Analytics</p>
            <div class="skillbar">
              <div class="skills bda"></div>
            </div>
          </div>
        </div>

        <!-- sixth skill tables  -->

        <div id="6" class="technica_specs">
          <div class="techhead">
            <h2>Soft skills</h2>
          </div>
          <div class="specs">
            <p>Problem-solving:</p>
            <div class="skillbar">
              <div class="skills ps"></div>
            </div>

            <p>Communication</p>
            <div class="skillbar">
              <div class="skills com"></div>
            </div>

            <p>Design Thinking
            </p>
            <div class="skillbar">
              <div class="skills dt"></div>
            </div>

            <p>Team-Work</p>
            <div class="skillbar">
              <div class="skills Team"></div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

  <section id="exp">
    <h2 class="tech1h2">Experience</h2>
    <div class="timeline-custom">

      <br> <br>
      <div class="timeline-container left-timeline-container">
        <img src="/images/educara-logo.png" class="logo2" alt="" />
        <div class="timeline-text-box">
          <h2>G&D Educara.</h2>
          <small>3rd March 2024</small>
          <p>
            During my internship at Educara, I had the opportunity to immerse myself in a dynamic and innovative
            learning environment. My role involved collaborating with a talented team to develop educational resources
            and digital content that empower learners worldwide. I honed my skills in instructional design, content
            creation, and project management, contributing to impactful projects that enhanced user engagement and
            learning outcomes. This experience not only expanded my technical and creative abilities but also deepened
            my passion for leveraging technology to drive educational advancements.
          </p>
          </p>
          <span class="left-timeline-arrow"></span>
        </div>
      </div>

      <div class="timeline-container right-timeline-container">
        <img src="/images/girlScript.jpeg" class="logo2" alt="" />
        <div class="timeline-text-box">
          <h2>Girl Script Summer of Code</h2>
          <small>2nd May 2024</small>
          <p>
            During my time as a contributor for the GirlScript Summer of Code (GSSoC), I actively participated in
            various open-source projects, where I collaborated with a diverse group of developers and mentors. I
            utilized technologies such as JavaScript, Python, and Git, and gained valuable experience in software
            development and teamwork. This experience not only enriched my technical knowledge but also fostered my
            ability to work effectively in a collaborative environment.


          </p>
          </p>
          <span class="right-timeline-arrow"></span>
        </div>
      </div>

      <div class="timeline-container left-timeline-container">
        <img src="/images/hactober.jpeg" class="logo2" alt="" />
        <div class="timeline-text-box">
          <h2>Hacktober-Fest</h2>
          <small>March 2023</small>
          <p>
            As a contributor during Hacktoberfest, I participated in several open-source projects, where I collaborated
            with developers worldwide. I focused on writing and improving code, fixing bugs, and adding new features
            using technologies like JavaScript and Python. This experience enhanced my coding skills and provided
            valuable insights into open-source software development and teamwork.


          </p>
          </p>
          <span class="left-timeline-arrow"></span>
        </div>
      </div>



      <div class="timeline-container right-timeline-container">
        <img src="/images/pw.jpeg" alt="" />
        <div class="timeline-text-box">
          <h2>Physics Wallah</h2>
          <small>17th April 2023</small>
          <p>
            As a Campus Ambassador for PW, I had the privilege of representing a forward-thinking organization dedicated
            to fostering connections with the academic community. In this role, I served as a liaison between PW and my
            university, promoting the company's mission, values, and opportunities to fellow students. Through
            organizing campus events, workshops, and information sessions, I engaged with peers, faculty, and
            administrators to raise awareness about PW's initiatives and offerings. Additionally,
          </p>
          </p>
          <span class="right-timeline-arrow"></span>
        </div>
      </div>

      <div class="timeline-container left-timeline-container">
        <img src="/images/internshala.jpeg" alt="" />
        <div class="timeline-text-box">
          <h2>InternShala</h2>
          <small>3rd February 2023</small>
          <p>
            My internship experience at Internshala was truly transformative. I had the privilege of working with a
            passionate team committed to revolutionizing the way students and employers connect in the world of
            internships and job opportunities. This internship not only allowed me to sharpen my technical skills but
            also provided me with invaluable insights into the fast-paced world of online platforms and startups. It was
            a journey of growth, learning, and meaningful impact that has shaped my professional trajectory in profound
            ways.
          </p>
          </p>
          <span class="left-timeline-arrow"></span>
        </div>
      </div>


    </div>
  </section>

  <section id="projects">
    <div class="projects">
      <h2 class="tech1h2">Projects</h2>

    </div>

    <div class="container">
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
          <div class="card card-custom">
            <img src="/images/projects/calci.png" class="card-img-top" alt="DecisionHub" height="200px
                  " width="200px">
            <div class="card-body card-body-custom">
              <div>
                <span class="badge badge-custom">React JS</span>
                <span class="badge badge-custom">Js</span>
                <span class="badge badge-custom">Node JS</span>
                <span class="badge badge-custom">Express JS</span>
                <span class="badge badge-custom">
                  <HTML>

                  </HTML>
                </span>
                <span class="badge badge-custom">React Flow</span>
              </div>
              <h5 class="card-title"><a href="https://calibykp.netlify.app/"> Calculator</a></h5>
              <h6 class="card-subtitle mb-2 text-muted">Jan 2024 - Dec 2023</h6>
              <p class="card-text">Introducing "CalcMaster": Your all-in-one online calculator hub designed for ease and
                efficiency. </p>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4">
          <div class="card card-custom">
            <img src="/images/projects/drumkit.png" class="card-img-top" alt="Trackify">
            <div class="card-body card-body-custom">
              <div>

                <span class="badge badge-custom">CI/CD</span>
                <span class="badge badge-custom">HTMl</span>
                <span class="badge badge-custom">CSS</span>
                <span class="badge badge-custom">React JS</span>
                <span class="badge badge-custom">MongoDB</span>
                <span class="badge badge-custom">Node JS</span>
                <span class="badge badge-custom">Express JS</span>
                <!-- <span class="badge badge-custom">Redux</span> -->
              </div>
              <a href="https://kaustubh-2003.github.io/DrumKit/"><h5 class="card-title">DrumKit</h5></a>
              <h6 class="card-subtitle mb-2 text-muted">Jun 2023 - Jul 2023</h6>
              <p class="card-text">BeatMaster": Your ultimate online drum kit for creating, recording, and sharing beats
                with ease and precision.</p>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4">
          <div class="card card-custom">
            <img src="/images/projects/portfolio.png" class="card-img-top" alt="Podstream">
            <div class="card-body card-body-custom">
              <div>
                <span class="badge badge-custom">React JS</span>
                <span class="badge badge-custom">MongoDB</span>
                <span class="badge badge-custom">Node JS</span>
                <span class="badge badge-custom">Express JS</span>
                <span class="badge badge-custom">Redux</span>
              </div>
              <h5 class="card-title">Portfolio </h5>
              <h6 class="card-subtitle mb-2 text-muted">Apr 2024 - May 2024</h6>
              <p class="card-text">Developed a full-stack web based portfolio for myself.</p>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
          <div class="card card-custom">
            <img src="/images/projects/expense.jpg" class="card-img-top" alt="DecisionHub">
            <div class="card-body card-body-custom">
              <div>
                <span class="badge badge-custom">React JS</span>
                <span class="badge badge-custom">PostgreSQL</span>
                <span class="badge badge-custom">Node JS</span>
                <span class="badge badge-custom">Express JS</span>
                <span class="badge badge-custom">Redux</span>
                <span class="badge badge-custom">React Flow</span>
              </div>
              <h5 class="card-title">Expense Tracker</h5>
              <h6 class="card-subtitle mb-2 text-muted">Jan 2024 - Dec 2023</h6>
              <p class="card-text">Expense Tracker Pro" empowers users to effortlessly track, categorize, and analyze
                their expenses, providing insightful reports and seamless budget management.</p>
            </div>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4">
          <div class="card card-custom">
            <img src="/images/projects/netflix.png" class="card-img-top" alt="Trackify">
            <div class="card-body card-body-custom">
              <div>
                <span class="badge badge-custom">HTML</span>
                <span class="badge badge-custom">CSS</span>
                <span class="badge badge-custom">JS</span>
              </div>
              <a href="https://kaustubh-2003.github.io/Netflix-clone/"><h5 class="card-title">Netflix-Clone</h5></a>
              <h6 class="card-subtitle mb-2 text-muted">May 2023 - Jul 2023</h6>
              <p class="card-text">"Streamify" is a web application designed to streamline your streaming experience and
                enhance content discovery with personalized recommendations and seamless playback.</p>
            </div>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4">
          <div class="card card-custom">
            <img src="/images/projects/tindog.png" class="card-img-top" alt="Podstream">
            <div class="card-body card-body-custom">
              <div>
                <span class="badge badge-custom">HTML</span>
                <span class="badge badge-custom">CSS</span>
                <span class="badge badge-custom">JS</span>
                <span class="badge badge-custom">Bootstrap</span>
              </div>
              <a href="https://kaustubh-2003.github.io/Tindog/"><h5 class="card-title">Tindog</h5></a>
              <h6 class="card-subtitle mb-2 text-muted">Apr 2023 - May 2023</h6>
              <p class="card-text">Developed a full-stack web application "TinDogg" that allows users to search for,
                match with, and message other dog lovers, creating the ultimate social platform for dog enthusiasts..
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="badges" class="badge-section">
    <h2 class="tech1h2">My Achievements</h2>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 mb-4">
          <div class="badge-card">
            <div data-iframe-width="150" data-iframe-height="270"
              data-share-badge-id="e1d1f33a-146e-4e0e-8dfd-b6b20a183d9d" data-share-badge-host="https://www.credly.com">
            </div>
            <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="badge-card">
            <div data-iframe-width="150" data-iframe-height="270"
              data-share-badge-id="c138ca4c-8835-47de-a550-f4bf1b064f4a" data-share-badge-host="https://www.credly.com">
            </div>
            <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="badge-card">
            <div data-iframe-width="150" data-iframe-height="270"
              data-share-badge-id="6340699b-5ac4-4826-b960-8ffd5aa68744" data-share-badge-host="https://www.credly.com">
            </div>
            <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="badge-card">
            <div data-iframe-width="150" data-iframe-height="270"
              data-share-badge-id="4a403686-446a-47c2-a581-924aa4a8c5ad" data-share-badge-host="https://www.credly.com">
            </div>
            <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="badge-card">
            <div data-iframe-width="150" data-iframe-height="270"
              data-share-badge-id="556c06d5-5156-4ad7-949a-dc5ac2711cd4" data-share-badge-host="https://www.credly.com">
            </div>
            <script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
          </div>
        </div>
        <div class="col-12 col-md-4 mb-4">
          <div class="badge-card">
            <img class="badgee" src="/images/icons/git.webp" alt="">
            <!-- <br><br><br> -->
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="education">

    <h2 class="tech1h2">Education</h2>
    <div class="timeline-custom">

      <br> <br>
      <div class="timeline-container left-timeline-container">
        <img src="/images/srmu.jpeg" class="logo2" alt="" />
        <div class="timeline-text-box">
          <h2>Shri Ramswaroop Memorial University</h2>
          <small>2021-2025</small>
          <small>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</small>
          <small>8.4 CGPA</small>
          <p>
            I am Currently pursuing B.Tech from SRMU in Computer science and Enigineering!
          </p>
          <span class="left-timeline-arrow"></span>
        </div>
      </div>

      <div class="timeline-container right-timeline-container">
        <img src="/images/rlb.png" alt="" />
        <div class="timeline-text-box">
          <h2>Rani Laxmi Bai Memorial Group of Schools</h2>
          <small> April 2021</small>
          <small>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</small>
          <small>95 % </small>
          <p>
            I have completed my intermediate in 2021 from RLBM school affiliated to CBSE board Delhi.
          </p>
          <span class="right-timeline-arrow"></span>
        </div>
      </div>

      <div class="timeline-container left-timeline-container">
        <img src="/images/rlb.png" alt="" />
        <div class="timeline-text-box">
          <h2>Rani Laxmi Bai Memorial Group of Schools</h2>
          <small>3April 2019</small>
          <small>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</small>
          <small>95 % </small>
          <p>
            I have completed my High School in 2021 from RLBM school affiliated to CBSE board Delhi.
          </p>
          <span class="left-timeline-arrow"></span>
        </div>
      </div>


    </div>
  </section>

  <section id="certificates">
    <h2 class="tech1h2">Certificates</h2>
    <div id="cardCarousel" class="carousel slide carousel-custom" data-ride="carousel" data-interval="2000">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card card-certi">
            <img src="/images/certificates/c7.png" class="card-img-top" alt="Certification 1">
            <div class="card-body">
              <h5 class="card-title">Intro to C++</h5>
              <!-- <p class="card-text">Details about Certification 1</p> -->
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="card card-certi">
            <img src="/images/certificates/c6.png" class="card-img-top" alt="Certification 1">
            <div class="card-body">
              <h5 class="card-title">Data Structures</h5>
              <!-- <p class="card-text">Details about Certification 1</p> -->
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="card card-certi">
            <img src="/images/certificates/c5.png" class="card-img-top" alt="Certification 1">
            <div class="card-body">
              <h5 class="card-title">Python for data science</h5>
              <!-- <p class="card-text">Details about Certification 1</p> -->
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="card card-certi">
            <img src="/images/certificates/c1.png" class="card-img-top" alt="Certification 1">
            <div class="card-body">
              <h5 class="card-title">Docker-Essentials</h5>
              <!-- <p class="card-text">Details about Certification 1</p> -->
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card card-certi">
            <img src="/images/certificates/c2.png" class="card-img-top" alt="Certification 2">
            <div class="card-body">
              <h5 class="card-title">JavaScript</h5>
              <!-- <p class="card-text">Details about Certification 2</p> -->
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card card-certi">
            <img src="/images/certificates/c3.png" class="card-img-top" alt="Certification 3">
            <div class="card-body">
              <h5 class="card-title">Machine Learning</h5>
              <!-- <p class="card-text">Details about Certification 3</p> -->
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="card card-certi">
            <img src="/images/certificates/c4.png" class="card-img-top" alt="Certification 1">
            <div class="card-body">
              <h5 class="card-title">Python Inro</h5>
              <!-- <p class="card-text">Details about Certification 1</p> -->
            </div>
          </div>
        </div>




      </div>
      <a class="carousel-control-prev" href="#cardCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#cardCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
    </div>



  </section>


  <section>
    <div class="headin">
      <h2 class="tech1h2">Contact Me</h2>
    </div>
  </section>

  <section id="conme">


    <div class="contact-container">
      <h2 class="contact-title">
        Reach out for questions or opportunities!
      </h2>
      <form class="contact-form" method="post" action="/send-mail">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit" id="downloadBtn">Send Message</button>
      </form>
    </div>
  </section>


  <section class="contact_me">
    <div class="contact-me">
      <h2 class="cllme">
        Have an exciting project in mind? Let's collaborate and bring your ideas to life together!
      </h2>
      <br>
      <a href="mailto:er.kaustubh.pandey@gmail.com"><button class="contact-button">Let's do this</button></a>
    </div>

  </section>



  <footer class="footer">
    <div class="container">
      <div class="quotation">
        <h3>Living, Learning, & Leveling up one day at a time.</h3>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="about-me">
            <h4>About Me</h4>
            <p>I'm Kaustubh Pandey, a student of computer science deeply passionate about programming and web
              development. From mastering HTML, CSS & JS to exploring advanced JavaScript frameworks, I thrive on
              creating seamless digital experiences. Beyond coding, I'm driven by the challenge of innovation and seek
              to blend technical expertise with creative flair in every project I undertake.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="section">
            <h4>Links</h4>
            <ul class="links">
              <li><a href="#about"> About</a></li>
              <li><a href="#technical hero"> Skills</a></li>

              <li><a href="#badges"> Badges</a></li>
              <li><a href="#project"> Projects</a></li>
              <li><a href="#education"> Education</a></li>
              <li><a href="#exp"> Experience</a></li>


              <li><a href="#certificates"> Certificates</a></li>
              <li><a href="#conme">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 sm">
          <div class="social-media">
            <h4>Let's Be Internet BFFs</h4>
            <ul class="social-icons">
              <li><a href="https://github.com/Kaustubh-2003" target="_blank"><i class="fab fa-2x fa-github"></i></a>
              </li>
              <li><a href="https://www.linkedin.com/in/kaustubh-pandey-266205231/"><i class="fab fa-2x fa-linkedin"
                    target="_blank"></i></a></li>
              <li><a href="https://x.com/Er_Kaustubh_" target="_blank"><i class="fab fa-2x fa-twitter"></i></a></li>

            </ul>
          </div>
        </div>
      </div>
      <hr class="custom-hr">
      <div class="footer-text">
        <p>Developed with passion by Er.Kaustubh Pandey 🖤</p>
        <p>© 2024 Kp. All rights reserved.</p>
      </div>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<script src="/script.js"></script>
</body>

</html>